---
import type { FullProject } from "@db/models/DAOProject";
import { Icon } from "astro-icon/components";
import { ProjectNature } from "@lib/ProjectNature";
import { mockSkills } from "@lib/tests/mocks";
import ToggleInput from "@components/svelte/ToggleInput.svelte";
import ToggleIconInput from "@components/svelte/ToggleIconInput.svelte";
import ToggleSelect from "@components/svelte/ToggleSelect.svelte";
import ProjectSkillsSelector from "@components/svelte/ProjectSkillsSelector.svelte";
import BuildProjectPresentationPicture from "@components/svelte/BuildProjectPresentationPicture.svelte";

interface Props {
    project: FullProject | null,
}

const { project } = Astro.props;
const presentationPictureUrl = project === null ? undefined : project.pictures[project.presentation_picture];
const skills = mockSkills();
---

<div class="bg-white rounded-md border-2 border-primary/50 min-w-[300px] max-w-[360px]">
    <div class="w-full h-52 relative p-2">
        <BuildProjectPresentationPicture client:load initialUrl={presentationPictureUrl}>
            <Icon name="image" class="text-5xl opacity-75" />
        </BuildProjectPresentationPicture>
    </div>
    <div class="py-4 px-6 h-[calc(100%-240px)] space-y-6 flex flex-col">
        <ToggleInput
            client:load
            textarea
            name="name"
            initialValue={project?.name ?? "Project's name"}
            className="underline text-primary text-xl font-bold"
            tagName="strong"
        />
        <div class="w-full">
            <ToggleInput
                client:load
                textarea
                name="summary"
                initialValue={project?.summary ?? "Project's summary"}
                className="text-primary text-sm leading-8 font-light"
                tagName="span"
            />
        </div>
        <ProjectSkillsSelector client:load skills={skills} />
        <div class="flex justify-between !mt-auto space-x-6">
            <ToggleIconInput client:load initialValue={project?.team_members}>
                <Icon name="circle-user-round" slot="solo" />
                <Icon name="users" slot="team" />
            </ToggleIconInput>
            <ToggleSelect client:load initialValue={project?.nature}>
                <Icon name={ProjectNature.PROFESSIONAL.icon} slot="pro" />
                <Icon name={ProjectNature.SCHOOL.icon} slot="school" />
                <Icon name={ProjectNature.PERSONAL.icon} slot="personal" />
            </ToggleSelect>
            <span class="text-primary/50 flex items-center text-sm">
                <Icon name="calendar" class="mr-2" />
                <ToggleInput
                    client:load
                    name="date"
                    initialValue={project?.date ?? new Date().getFullYear().toString()}
                    tagName="span"
                    className="relative top-[2px]"
                    width="w-12"
                />
            </span>
        </div>
    </div>
</div>