---
import trans from "@trans";
import Button from "./Button.astro";
import SpaceSectionTrailer from "./SpaceSectionTrailer.astro";
import { Icon } from "astro-icon/components";

const lang = Astro.locals.lang;
---

<section class="relative z-0 -top-24 overflow-x-hidden flex flex-col justify-between h-full" id="space-section">
    <img src="/space-background-top.svg" class="select-none pointer-events-none w-full relative -bottom-2 -z-10" alt="">
    <div class="flex flex-col space-y-8 lg:space-y-0 lg:flex-row w-full h-full bg-primary-darker py-32 relative" id="space-section-article">
        <article class="max-w-[100%] sm:max-w-[70%] lg:max-w-[50%] min-w-[250px] h-auto px-main space-y-8 bg-primary-darker">
            <p class="text-white leading-6 xl:leading-9 2xl:leading-10 text-xs md:text-sm xl:text-xl">{trans.homepage.spacesection[lang]}</p>
            <p class="text-white leading-6 xl:leading-9 2xl:leading-10 text-xs md:text-sm xl:text-xl" set:html={trans.homepage.spacevideo[lang]} />
            <div class="flex items-center space-x-6">
                <Button as="a" href="https://spacevisitor.sciencesky.fr" target="_blank">{trans.common.playgame[lang]}</Button>
                <a class="text-white text-2xl opacity-80 hover:opacity-100 transition-opacity" aria-label={trans.common.mygithubaccount[lang]} title={trans.common.githubrepo[lang]} href="https://github.com/ThomasGysemans/SpaceVisitor" target="_blank"><Icon name="github" /></a>
            </div>
        </article>
        <SpaceSectionTrailer />
    </div>
    <img src="/space-background-bottom.svg" class="select-none pointer-events-none w-full relative -z-10" alt="">
</section>

<script type="module">
    const space_section_bg = document.querySelector("#space-section-article");
    const max_height = space_section_bg.clientHeight;
    const sparkles = [];

    for (let i = 0; i < (max_height > 1500 ? 40 : 25); i++) {
        const sparkle = document.createElement("img");
        sparkle.src = "/sparkle.svg";
        sparkle.width = 20;
        sparkle.height = 20;
        sparkle.style.position = "absolute";
        sparkle.style.left = (Math.floor(Math.random() * space_section_bg.clientWidth)) + "px";
        sparkle.style.top = (Math.floor(Math.random() * max_height)) + "px";
        sparkle.style.transform = `rotate(${Math.floor(Math.random() * 180)}deg)`;
        sparkles.push(sparkle);
    }

    const sparkle_container = document.createElement("div");
    sparkles.forEach(s => sparkle_container.appendChild(s));
    space_section_bg.appendChild(sparkle_container);
</script>