---
import "@styles/tailwind.scss";

interface Props {
    title: string;
}

const ALL_LANGUAGES = ["fr", "en"];
const DOMAIN = "https://thomasgysemans.dev";

const { title } = Astro.props;
const lang = Astro.locals.lang;
const otherLangs = ALL_LANGUAGES.filter(l => l !== lang);
const og = {
    title: {
        "fr": "Portfolio de Thomas Gysemans - webmaster et développeur d'applications",
        "en": "Portfolio of Thomas Gysemans - webmaster and app developer",
    },
    locale: {
        "fr": "fr_FR",
        "en": "en_US",
    },
    site_name: {
        "fr": "Portfolio de Thomas Gysemans",
        "en": "Portfolio of Thomas Gysemans",
    },
    description: {
        "fr": "Je suis développeur d'applications et de sites internet et je présente ici mes compétences et mes anciens projets.",
        "en": "I am an application and website developer and I present here my skills and my past projects.",
    },
} satisfies Record<string, Record<App.LangCode, string>>;

const fullPathname = Astro.url.pathname.replace(/\/{2,}/g, "/");
const langIncludedInPathname = ALL_LANGUAGES.map(l => `/${l}`).some(l => fullPathname.startsWith(l));
const fullPathnameWithoutLeadingSlash = fullPathname.substring(1);
const langlessPathname = langIncludedInPathname
    ? (fullPathnameWithoutLeadingSlash.indexOf('/') === -1 ? "" : fullPathnameWithoutLeadingSlash.substring(fullPathnameWithoutLeadingSlash.indexOf('/') + 1))
    : fullPathnameWithoutLeadingSlash;
---

<!DOCTYPE html>
<html {lang}>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap">
        <title>{title}</title>

        <meta property="og:title" content={og.title[lang]}>
        <meta property="og:type" content="website">
        <meta property="og:url" content={DOMAIN}>
        <!-- <meta property="og:image" content="https://thomasgysemans.dev/og_image.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:alt" content="Portfolio">
        <meta property="og:image:width" content="958">
        <meta property="og:image:height" content="992"> -->
        <meta property="og:locale" content={og.locale[lang]}>
        <meta property="og:site_name" content={og.site_name[lang]}>
        <meta property="og:description" content={og.description[lang]}>
        <meta name="description" content={og.description[lang]}>
        <meta name="keywords" content="portfolio, Thomas Gysemans, développeur, développeur web, développeur d'applications, web developer, mobile developer, developer, webmaster, back-end, backend, frontend, front-end, designer">

        <meta http-equiv="content-language" content={lang} />

        {otherLangs.map(l => {
            const href = l === "fr" ? `${DOMAIN}/${langlessPathname}` : `${DOMAIN}/${l}/${langlessPathname}`;
            return <link rel="alternate" hreflang={l} {href} />
        })}
    </head>
    <body class="overflow-x-hidden">
        <slot />
    </body>
</html>
