---
import { Icon } from "astro-icon/components";
import { DAOProject } from "@db/models/DAOProject";
import { ProjectType } from "@lib/ProjectType";
import AdminLayout from "@layouts/AdminLayout.astro";

const projects = await DAOProject.list();

function displayDate(date: Date): string {
    return date.toLocaleDateString("fr-FR", {
        day: "numeric",
        month: "long",
        year: "numeric",
        hour: "numeric",
        minute: "numeric",
    });
}
---

<AdminLayout title="Portfolio - Admin">
    <div class="relative w-full">
        <Icon name="search" class="text-primary/50 absolute top-[50%] left-4 -translate-y-[50%]" />
        <input
            id="search"
            type="search"
            aria-label="Rechercher un projet (parmi 5)"
            placeholder="Rechercher un projet (parmi 5)"
            class="py-3 pr-6 pl-10 text-sm max-w-80 w-full admin-input"
        />
    </div>
    <table id="table" class="my-10">
        <thead>
            <tr class="border-b-[1px] border-b-primary/10">
                <th class="font-bold text-left text-sm py-3 pr-8">Nom</th>
                <th class="font-bold text-left text-sm py-3 pr-8">Type</th>
                <th class="font-bold text-left text-sm py-3 pr-8">En vitrine</th>
                <th class="font-bold text-left text-sm py-3 pr-8">Date de dernière modification</th>
            </tr>
        </thead>
        <tbody>
            {projects.map((p, i) => {
                const isLast = i === projects.length - 1;
                const projectType = ProjectType.getProjectType(p.type);
                return (
                    <tr data-slug={p.slug} class={isLast ? "" : "border-b-[1px] border-b-primary/10"}>
                        <td class="font-light text-sm py-3 pr-8">{p.name}</td>
                        <td class="font-light text-sm py-3 pr-8">
                            <div class="flex items-center space-x-2">
                                <span>{p.type}</span>
                                <div class={`rounded-full w-6 h-6 flex items-center justify-center ${projectType.color}`}>
                                    <Icon name={projectType.icon} class="text-sm text-white" />
                                </div>
                            </div>
                        </td>
                        <td class="font-light text-sm py-3 pr-8">{p.showcase ? "Oui" : "Non"}</td>
                        <td class="font-light text-sm py-3 pr-8">{displayDate(p.updatedAt)}</td>
                    </tr>
                );
            })}
        </tbody>
    </table>
</AdminLayout>

<script define:vars={{ projects }}>window.projects = projects;</script>
<script src="../../lib/pages/admin/projects.ts"></script>

<style lang="scss">
    [aria-hidden="true"] {
        display: none;
    }
</style>